<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <div id="app">
        {{msg}}

        <input type="text" v-model="msg">
        <input type="text" v-model="name">
        <!-- 直接通过计算规则名即可调用 -->
        {{myMsg}}
        {{myName}}
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        //computed用于对data中的数据进行监听
        var vm = new Vue({
            el:'#app',
            data:function () {
                return {
                    msg:'你好',
                    name:'hello'
                }
            },
            // 计算属性
            // 参数一: 名称
            // 参数二 :方法体(或对象)
            computed:{
                //可以是函数
                myMsg:function(){
                    //通过this获取该vue实例代理的属性
                    return this.msg + ',cyx';
                },
                //可以是对象
              
                myName:{
                    //读取代理值
                    get:function () {
                        return this.name + '.heima'
                    },
                    //修改时设置值,参数为修改后的值
                    set:function(val){
                        this.name = val
                    }


                    //也可以在读取的时候就设置，这样就不需要set了
                    //  get:function () {
                    //     return this.name +',cyx';
                    // }
                }

            }
        });
    </script>
</body>
</html>